  <div class="container">

    <ul class="nav nav-tabs justify-content-center nav-fill mt-2" role="tablist">
      <li class="nav-item nav-search-item <%= @nav_item_upload %>"><a href="#content-upload" class="nav-link" id="nav_field_upload" aria-selected="false" role="tab" data-toggle="tab">アップロード</a></li>
      <li class="nav-item nav-search-item <%= @nav_item_history %>"><a href="#content-history" class="nav-link" id="nav_field_history" aria-selected="false" role="tab" data-toggle="tab">履歴</a></li>
    </ul>

    <div class="tab-content">
      <div id="content-upload" class="tab-pane active" role="tabpanel">
        <div class="content">
          <div>
          </div>
          <%= form_for(@video, url: mypage_path, html: {class: 'mt-2'}) do |f| %>
          <div class="form-group mb-3">
            <label class="col-form-label">タイトル</label>
            <%= f.text_field :video_name, class: "form-control", placeholder: "タイトルを入力して下さい" %>
          </div>
          <div class="form-group mb-3">
            <label class="col-form-label">説明</label>
            <%= f.text_area :description, class: "form-control", placeholder: "説明を入力して下さい" %>
          </div>
          <div class="form-group mb-3">
            <label class="col-form-label">タグ</label>
            <ul id='tag'></ul>
          </div>
          <div class="mb-3 custom-file">
            <%= f.file_field :video_file_name, class: "custom-file-input" %>
            <label class="col-form-label custom-file-label" style="white-space: nowrap; overflow: hidden;">ファイルを選択して下さい...</label>
            <p><%= flash[:upload_status] %></p>
          </div>
          <div class="form-group mb-3">
            <button type="submit" class="btn btn-primary">Up load</button>
          </div>
        <% end %>
          <%= link_to "delete", user_registration_path, class: "nav-link ml-auto btn btn-outline-light", style: "font-size: 0.5rem", method: "delete" %>
        </div>
      </div>
      <div id="content-history" class="tab-pane" role="tabpanel">
        <div class="content">
          <div class="col-12 mx-auto my-1 infinite-content">
          <% for num in 0..@initial_video_title.size-1 do %>
            <div class="card mb-3">
              <a href="/video/<%= @initial_video_id[num] %>">
                <img class="card-img-top img-fluid" src="uploads/video/<%= @initial_video_file[num] %>.jpg" alt="" style="height: 20rem;">
              </a>
              <div class="card-body">
                <h4 class="card-title"><%= @initial_video_title[num] %></h4>
                <button type="button" class="btn-like" style="font-size: 1.5rem;">
                  <i class="fa fa-thumbs-up"></i>
                  <span class="badge badge-pill badge-secondary" id="good-num"><%= @initial_video_data[num].get_likes_number(@initial_video_data[num].id) %></span>
                </button>
              </div>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
<%= content_for :search_pagination do %>
    <script>
      var active_nav = 'search_field_upload'
      var rails_text_field = '<%= text_field_tag :tags, "", class: "form-control", placeholder: "キーワードを入力して下さい" %>' 
      var hidden_params_keyword = '<input type="hidden" name="search_type" id="search_type" value="search_field_keyword">'
      var hidden_params_tag = '<input type="hidden" name="search_type" id="search_type" value="search_field_tag">'

      $(document).ready(function(){
        $('#tag').tagit({
          fieldName: "category_tag",
          singleField: true
        });
      });

      $('.custom-file-input').on('change', function(e){
        $(this).next('.custom-file-label').html($(this)[0].files[0].name);
      });

      $('.form-group button').on('click', function(e){
        $(this).addClass('disabled');
      });

      $('.nav-search-item a').on('click', function(e){
        e.preventDefault();
        $(this).tab('show');
        active_nav = $('.nav-search-item.active').children().attr('id');
        /*$('#search_type').remove();
        $('ul#tag').remove();
        $('input#tags').remove();
        */
        if(active_nav == 'search_field_upload'){
          /*
          $('div.input-group').prepend(rails_text_field);
          $('div.input-group').prepend(hidden_params_keyword);
          */
        }else{
          /*
          $('div.input-group').prepend('<ul id="tag"></ul>');
          $('#tag').tagit({
            fieldName: "category_tag",
          });
          $('.ui-widget-content').addClass('form-control');
          $('input.ui-widget-content').attr({
            'name': 'search',
            'id': 'search',
            'placeholder': 'タグを入力して下さい'
          });
          $('div.input-group').prepend(hidden_params_tag);
          */
        }
      })

      function getAdditionPath(){
        var pageNumber = (this.loadCount + 1) * 10;
        return '/mypage/' + pageNumber;
      }

      $('.infinite-content').infiniteScroll({
        path: getAdditionPath,
        append: '.card',
        scrollThreshold: 80,
        status: '.page-load-status',
        history: false,
      });

  </script>
  <% end %>
