  <div class="container">

    <ul class="nav nav-tabs justify-content-center nav-fill mt-2" role="tablist">
      <li class="nav-item nav-search-item <%= @nav_item_mypage %>"><a href="#content-mypage" class="nav-link" id="nav_field_mypage" aria-selected="false" role="tab" data-toggle="tab"><%= @current_user_name %> - お気に入り動画一覧</a></li>
    </ul>

    <div class="tab-content">
      <div id="content-mypage" class="tab-pane active" role="tabpanel">
        <div class="content">
          <div class="col-12 mx-auto my-1 infinite-content">
          <% for num in 0..@initial_video_title.size-1 do %>
            <div class="card mb-3">
              <a href="/video/<%= @initial_video_id[num] %>">
                <img class="card-img-top img-fluid" src="https://object-storage.tyo1.conoha.io/v1/nc_ae525541a58a443c98717ded126b6ac3/shirobuhi_obs/uploads/<%= @initial_video_file[num] %>.jpg" alt="" style="height: 20rem;">
              </a>
              <div class="card-body">
                <h4 class="card-title"><%= @initial_video_title[num] %></h4>
                <button type="button" class="btn-like" style="font-size: 1.5rem;">
                  <i class="fa fa-thumbs-up"></i>
                  <span class="badge badge-pill badge-secondary" id="good-num"><%= @initial_video_data[num].get_likes_number(@initial_video_data[num].id) %></span>
                </button>
              </div>
            </div>
          <% end %>
          </div>
        </div>
        <br>
        <br>
        <%= link_to "退会ページへ",delete_user_path(current_user.id), class: "nav-link ml-auto mb-3 btn btn-outline-dark", style: "font-size: 0.5rem;" %>
      </div>
    </div>

  </div>
<%= content_for :search_pagination do %>
    <script>

      function getAdditionPath(){
        var pageNumber = (this.loadCount + 1) * 10;
        return '/mypage/' + pageNumber;
      }

      $('.infinite-content').infiniteScroll({
        path: getAdditionPath,
        append: '.card',
        scrollThreshold: 80,
        status: '.page-load-status',
        history: false,
      });

  </script>
  <% end %>
