<%= content_for :video_js_css do%>
<link href="http://vjs.zencdn.net/5.19.2/video-js.css" rel="stylesheet">
<% end %>

<div class="fh5co-loader" style="background: url(<%= asset_path "loader.gif"%> center no-repeat #fff);"></div>

<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
          <!--
					<div class="col-xs-12 text-right">
						<p class="num">Call: +01 123 456 7890</p>
						<ul class="fh5co-social">
							<li>
								<a href="#">
									<i class="icon-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon-dribbble"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon-github"></i>
								</a>
							</li>
						</ul>
					</div>
          -->
				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">

      <%= render "layouts/navbar_link" %>

			</div>
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(<%= asset_path "img_bg_2.jpg"%>);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
              <h1><%= @active_video_item["uq_video_name"] %></h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-blog">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-7">
					<div class="fh5co-blog animate-box">
						<video id="my-video" class="video-js vjs-default-skin" controls preload="auto" width="100%" height="264" poster="" data-setup="{}">
							<source src="<%= asset_path "movie/sample.mp4"%>" type="video/mp4">
							<p class="vjs-no-js">
								TEST
								<a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
							</p>
						</video>
						<div class="blog-text media-tab">
							<ul class="nav nav-tabs">
								<li class="active">
									<a href="#description" data-toggle="tab">説明</a>
								</li>
								<li>
									<a href="#procedure" data-toggle="tab">手順</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="description"></div>
								<div class="tab-pane" id="procedure"></div>
							</div>
						</div>

					</div>
				</div>

				<div class="col-lg-4 col-md-4">
					<div class="fh5co-blog animate-box">
						<div class="list-group">
							<h3>関連動画</h3>
							<h4>
                <% for x in 0..@list_video_name.size-1 do %>
                  <%= link_to @list_video_name[x], { controller: "static_pages", action: "videos", id: @request_group_perm, video_perm: @list_video_perm[x] } %></br>
                <% end %>
							</h4>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>

<div class="gototop js-top">
	<a href="#" class="js-gotop">
		<i class="icon-arrow-up"></i>
	</a>
</div>

<%= content_for :video_js do %>
<script src="http://vjs.zencdn.net/5.19.2/video.js"></script>
<% end %>

<%= content_for :original_javascript do%>
<script type="text/javascript" >
	$(function () {
    $("#description").load("/uploads/desc/<%= @active_video_item["description"] %>");
    $("#procedure").load("/uploads/procedure/<%= @active_video_item["procedure"] %>");
	});
</script>
<% end %>
