<div class="row">
  <div class="col-xs-1">
    <div id="fh5co-logo">
      <a href="index.html">SHIROBUHI<span>.</span>
      </a>
    </div>
  </div>
  <div class="col-xs-11 text-right menu-1">
    <ul>
      <li class="<%= home_active%>">
        <%= link_to "Home", root_path%>
      </li>
      <li class="<%= courses_active%>">
        <%= link_to "Courses", courses_path%>
      </li>

      <!-- ベータ版では実装しないため、一時的にコメントアウト
      <li class="<%= pricing_active%>">
        <%= link_to "Pricing", pricing_path%>
      </li>
      -->

      <!-- ベータ版では実装しないため、一時的にコメントアウト
      <% if user_signed_in? %>
        <li class="btn-cta">
          <%= link_to destroy_user_session_path, method: :delete, data: {"turbolinks" => false} do%>
            <span>LogOut</span>
          <% end %>
        </li>
        <% else %>
          <%= link_to new_user_registration_path, data: {"turbolinks" => false} do %>
            <span>Login/SignUp</span>
          <% end %>
      <% end %>
      -->

    </ul>
  </div>
</div>
