<! DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SHIROBUHI &mdash; Security Learning.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <meta name="description" content="「自分でできるセキュリティ対策」をテーマにした学習サイトです。"/>
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>

  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top nav-top">
      <a class="navbar-brand col-4 offset-4 text-center" href="#">SHIROBUHI</a>
      <% if user_signed_in? then%>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </nav>

    <%= yield %>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-bottom text-center nav-bottom">
      <a class="nav-item nav-link col-4 disabled" href="/" style="font-size: 2rem;"><i class="fa fa-home"></i></a>
      <a class="nav-item nav-link col-4" href="/search" style="font-size: 2rem;"><i class="fa fa-search"></i></a>
      <a class="nav-item nav-link col-4" href="/mypage" style="font-size: 2rem;"><i class="fa fa-user"></i></a>
    </nav>

    <%= javascript_include_tag "application", 'data-turbolinks-track': "reload" %>
    <%= yield :index_pagination %>
    <%= yield :search_pagination %>

  </body>
</html>
